<%= form_with(model: kind, local: true, html: { class: "basic-grey" }) do |form| %>
  <% if kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kind.errors.count, "error") %> prohibited this kind from being saved:</h2>

      <ul>
      <% kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Tipos</h1>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, placeholder: "Descrição" %>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.submit'), class: "button"  %>
    <%= link_to t('buttons.back'), kinds_path, class: "button" %>
  </div>
<% end %>
