<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%= @kinds.model.model_name.human(count: @kinds.count)%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('message.description')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr style= "background: <%= cycle("#e1e6ef", "white")%>">
        <td><%= link_to kind.description, kind %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new'), new_kind_path %>
</div>
