<div class="basic-grey">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('message.description') %>:</strong>
  <%= @kind.description %>
</p>

<%= link_to t('buttons.edit'), edit_kind_path(@kind) %>
|
<%= link_to t('buttons.back'), kinds_path %>
</div>
