<%= form_with(model: phone, local: true, html: { class: "basic-grey" }) do |form| %>
<% if phone.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(phone.errors.count, "error") %>
      prohibited this phone from being saved:</h2>

    <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Telefones</h1>

<div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone, placeholder: "Ex.: 85 999-999-999" %>
</div>

<div class="field">
  <%= form.label :contact_id %>
  <%= form.text_field :contact_id, placeholder: "Digite um Nome para o Contato" %>
</div>

<div class="actions">
  <%= form.submit t('buttons.submit'), class: "button" %>
  <%= link_to t('buttons.back'), phones_path, class: "button" %>
</div>
<% end %>
