<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%= t('message.phone')%></h1>

<table>
  <thead>
    <tr>
      <th><%= @phones.model.human_attribute_name("phone")%></th>
      <th><%= @phones.model.human_attribute_name("contact")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= link_to phone.phone, phone %></td>
        <td><%= phone.contact.name %></td>

        <td><%= link_to t('buttons.edit'), edit_phone_path(phone) %></td>
        <td><%= link_to t('buttons.destroy'), phone, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new'), new_phone_path %>
<%= paginate @phones, window: 2, left: 1, right: 1 %>
</div>
