<div class="basic-grey">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('message.phone') %>:</strong>
  <%= @phone.phone %>
</p>

<p>
  <strong><%= t('message.contact') %>:</strong>
  <%= @phone.contact.name %>
</p>

<%= link_to t('buttons.edit'), edit_phone_path(@phone) %>
|
<%= link_to t('buttons.back'), phones_path %>
</div>
