<div class="basic-grey">
  <h1>Seja Bem-vindo</h1>

  <h2><%= l Date.today %></h2>
  <div class="imglist">
    <ul>
      <li><%= link_to t('message.kinds'), kinds_path %></li>
      <li><%= link_to t('message.contacts'), contacts_path %></li>
      <li><%= link_to t('message.phones'), phones_path %></li>
      <li><%= link_to t('message.addresses'), addresses_path %></li>
    </ul>
  </div>
</div>
