<%= form_with(model: contact, local: true, html: { class: "basic-grey" }) do |form| %>
<% if contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(contact.errors.count, "error") %>
      prohibited this contact from being saved:</h2>

    <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Contatos</h1>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "Seu Nome Completo" %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, placeholder: "Digite um E-mail Válido" %>
</div>

<div class="field">
  <%= form.label :kind_id %>
  <%= collection_select(:contact, :kind_id, @kind_option_for_select, :id, :description) %>
</div>

<%= form.fields_for :address do |address_fields| %>
<div class="field">
  <%= form.label :street %>
  <%= address_fields.text_field :street %>
</div>
<div class="field">
  <%= form.label :city %>
  <%= address_fields.text_field :city %>
</div>
<div class="field">
  <%= address_fields.label :state %>
  <%= address_fields.select :state, options_for_states(@contact.address.state) %>
</div>
<% end %>
<div id="phones">
<%= form.fields_for :phones do |phones_fields| %>
<%= render partial: "phone_fields", locals: { f: phones_fields } %>
<% end %>
<div class="field">
<%= form.label :phones, ">" %><br>
<%= link_to_add_association('Adicionar Telefone', form, :phones, class: "button" )%><br>
</div>
</div>
<br><br>
<div class="field">
<%= form.label :rmk %>
<%= form.text_area :rmk, placeholder: "Comente Aqui." %>
</div>

<div class="actions">
<%= form.submit t('buttons.submit'), class: "button" %>
<%= link_to t('buttons.back'), contacts_path, class: "button" %>
</div>
<% end %>
