<div class="nested-fields">
  <div class="field">
    <%= f.text_field :phone, class: "phone-field" %>
    <%= f.label :phone %>
    <%=  link_to_remove_association 'remover', f, class: "button"  %>
  </div>
</div>
