<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('message.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}"%></h1>

  <table>
    <thead>
      <tr>
        <th><%= @contacts.model.human_attribute_name("name")%></th>
        <th><%= @contacts.model.human_attribute_name("kind")%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style= "background: <%= cycle("#e1e6ef", "white")%>">
          <td><%= link_to contact.name, contact %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
          <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('message.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to t('buttons.new'), new_contact_path%>
  <%= paginate @contacts, window: 2, left: 1, right: 1 %>
</div>
