<div class="basic-grey">

<p id="notice"><%= notice %></p>
<h1>
  <%= @contact.name %>
</h1>

<p>
  <strong><%= t('message.email') %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%=t('message.kind')%>:</strong>
  <%= @contact.kind.description %>
</p>

<p>
  <strong><%= t('message.rmk') %>:</strong>
  <%= @contact.rmk %>
</p>

<%= link_to t('buttons.edit'), edit_contact_path(@contact) %>
|
<%= link_to t('buttons.back'), contacts_path %>
</div>
