<%= form_with(model: address, local: true, html: { class: "basic-grey" }) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Endereço</h1>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, placeholder: "Rua Humberto Martins de Castro, 370" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, placeholder: "Caucaia" %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, options_for_states(@address.state) %>
  </div>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.text_field :contact_id, placeholder: "Contato" %>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.submit'), class: "button" %>
    <%= link_to t('buttons.back'), addresses_path, class: "button" %>
  </div>
<% end %>
