<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%= @addresses.model.model_name.human(count: @addresses.count)%></h1>

<table>
  <thead>
    <tr>
      <th><%= @addresses.model.human_attribute_name("contact")%></th>
      <th><%= @addresses.model.human_attribute_name("street")%></th>
      <th><%= @addresses.model.human_attribute_name("city")%></th>
      <th><%= @addresses.model.human_attribute_name("state")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= link_to address.contact.name, address %></td>
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= link_to t('buttons.edit'), edit_address_path(address) %></td>
        <td><%= link_to t('buttons.destroy'), address, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new'), new_address_path %>
<%= paginate @addresses, window: 2, left: 1, right: 1 %>
</div>
