<div class="basic-grey">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('message.street')%>:</strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= t('message.city')%>:</strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= t('message.state')%>:</strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= t('message.contact')%>:</strong>
  <%= @address.contact.name %>
</p>

<%= link_to t('buttons.edit'), edit_address_path(@address) %> |
<%= link_to t('buttons.back'), addresses_path %>
</div>
